
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');

.MainSection {
  display: flex;
  flex-direction: column-reverse;
  /* I fixed the direction, which fixed the spacing being messed up!*/
}
 .header {
  padding: 0;
  margin: 0;
  background: #3e4c60;
  width: 100%;
}


.intro {
  color: white;
  flex-wrap: wrap;
  font-size: 2em;
  font-family: 'Finlandica', sans-serif;
  font-family: 'Roboto Mono', monospace;
}


/*basically, when the margin is 0 for the body, gets rid of that space. */
body {
  margin: 0;
  padding: 0;
  background: #1f2937;
}


.MainSection {
  display: flex;
  flex-direction: column;
}


.leftSide , .rightSide {
  display: flex;
  padding: 10px;
  color: white;
  background-color: #1f2937;
  position: relative;
  max-width: 100%;

}

.leftSide {
  justify-content: center;
  padding: 0;
}

.rightSide {
  background-color: #37475c;   
  padding: 30px;
  width: 50%;
  border-radius: 30px;
  border: 5px darkgray;
  display: flex;
  position: relative;
  left: 23%;
  gap: 25px;
  bottom: 50px;
}


.description {
  color: white;
  flex-wrap: wrap;
  font-size: 15px;
  font-family: 'Finlandica', sans-serif;
  font-family: 'Roboto Mono', monospace;
}


.ppic {
  display: flex;
  flex-direction: column-reverse;
  height: 100px;
  width: 100px;
  margin: auto;
  align-items: right;
}


.pic {
  position: relative;
  background-color: #37475c;
  flex: 1;
  position: relative;
  padding: 30px;
  left: 30%;
  width: 40%;
  border-radius: 30px;
}

.HeyLookMe {
  position: relative;
  top: 10px;
  left: 10%;
  display: flex;
  flex: 1;
}


div ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  color: white;
}


div li {
  display: flex;
  gap: 100px;
  text-align: center;

}



.specifics {
  margin: 0;
  justify-content: right;
  list-style: none;
  gap: 20px;
  color: white;
  display: flex;
  flex: 1;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  position: sticky;
  top: 0;
  background-color: #1f2937;
  border: 2px solid white;
}


.subsection1 {
  font-family: 'Francois One', sans-serif;
  font-family: 'M PLUS 1 Code', sans-serif;
}


.profileImage {
  display: flex;
  width: 325px;
  height: 325px;
  top: 10px;

}

.intro {
  display: flex;
  color: white;
  position: relative;
  left: 1%;
  font-size: .75in;
}

.subOne {

  display: flex;
  position: relative;
  bottom: 150px;
}

.subTwo {
  display: flex;
  position: relative;
  bottom: 250px;
}

ul li:hover {
  background-color: #384251;
}

.quote {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  height: 75px;
  background-color: rgb(35, 35, 48);
  color: white;
  font-size: 1.5em;
  gap: 1em;
  font-family: 'Francois One', sans-serif;
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 100px;
  font-style: italic;
  padding: 15px;

}

.quoteText {
  text-align: center;
  color: white;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #1f2937;
  color: white;
  font-family: 'Francois One', sans-serif;
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 100px;
  font-style: italic;
}


/*links for nav-bar */
a {
  color: white;
  text-decoration: none;
}